<div class="page-header">
  <h1>{{headerTitle}} {{fullName}}</h1>
</div>

{{#formFor content action="save"}}
  {{input firstName}}
  {{input lastName}}
  {{input email}}
  {{input phoneNumber}}
  {{input timeZone}}
  {{input password}}
  {{input passwordConfirmation label="Confirm password"}}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">{{buttonTitle}}</button>
    </div>
  </div>
{{/formFor}}

<a href="#" {{action "cancel" target="controller"}} class="btn btn-inverse">Cancel</a>

