<h2>{{headerTitle}} {{fullName}}</h2>

{{#formFor content action="save"}}
  {{input firstName}}
  {{input lastName}}
  {{input email}}
  {{input phoneNumber}}
  {{input timeZone}}
  {{input password}}
  {{input passwordConfirmation label="Confirm password"}}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">{{buttonTitle}}</button>
      {{#unless content.isNew}}
        <a href="#" class="btn btn-danger" {{action "destroy"}}>Delete</a>
      {{/unless}}
      <a href="#" {{action "cancel" target="controller"}}>Cancel</a>
    </div>
  </div>
{{/formFor}}

