<h2>{{headerTitle}} {{fullName}}</h2>

<div class="row">
<div class="col-md-8">
{{#formFor content action="save"}}
  {{input firstName}}
  {{input lastName}}
  {{input email}}
  {{input phoneNumber}}
  {{input timeZone}}
  {{input password}}
  {{input passwordConfirmation label="Confirm password"}}

  <button type="submit" class="btn btn-primary">{{buttonTitle}}</button>
  {{#unless content.isNew}}
    <a href="#" class="btn btn-danger" {{action "destroy"}}>Delete</a>
  {{/unless}}
  <a href="#" {{action "cancel" target="controller"}}>Cancel</a>
{{/formFor}}

    </div>
  </div>
